{% set imageOnLeft = (block.data.image_side|default('left')) == 'left' %}
{% set sizeClass = {
  'small':  'w-25',
  'medium': 'w-50',
  'large':  'w-75',
  'full':   'w-100',
}[block.data.size|default('full')]|default('w-100') %}
<div class="block block-text-image mb-5">
  <div class="row align-items-center {% if not imageOnLeft %} flex-row-reverse{% endif %}">
    <div class="col-md-5 text-center">
      {% if block.data.link_full|default(false) %}<a href="{{ '/uploads/images/' ~ block.data.filename }}" target="_blank" rel="noopener">{% endif %}
      <img
        src="{{ '/uploads/images/' ~ block.data.filename }}"
        alt="{{ block.data.image_alt|default('') }}"
        class="img-fluid rounded {{ sizeClass }}"
      >
      {% if block.data.link_full|default(false) %}</a>{% endif %}
    </div>
    <div class="col-md-7">
      <div class="rich-text">{{ block.renderedHtml|raw }}</div>
    </div>
  </div>
</div>
